footer{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: 700;
    background-color: rgb(5, 5, 24);
    color: rgb(159, 188, 214);
    align-items: center;
}
footer ul{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
li{
    list-style-type: none;
}