
.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #0a0f2c;
}

.card {
  width: 22%;
 color: #fff;
}
.card img{
  width: 100%;
}
h2{
    margin: 0px;
  font-size: 30px;
  color: #fff;
  width: 100%;
  text-align: center;
}
