.nav_container{
   background-color: rgb(5, 5, 24); 
}
nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(159, 188, 214);
}
nav button{
    background-color:rgb(13, 71, 138);
    color: white;
}
input{
    background-color: rgb(159, 188, 214);
}
